.container-api {
  margin-top: 0;
  padding: 250px 0 0px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-avatar {
  height: 50vh;
}

.content-avatar img {
  height: 100%;
}

.dates-avatar p {
  margin: 0 0 0 0;
}
.content-dates-avatar {
  padding: 80px 0 80px 0;
}

.content-redes {
  margin-top: 1rem;
}
span .created_at-loading {
  --base-color: #121f3d;
  --highlight-color: #24385b;
}

span .created_at-loading-dark {
  --base-color: rgb(18, 18, 18);
  --highlight-color: #1b1b1b;
}

span .circle {
  border-radius: 50%;
  height: 90%;
}

@media (max-width: 768px) {
  .content-avatar {
    height: 40vh;
  }
}
